I'm thinking of a number between 1 and 100. Try to guess.
<br />
<%= cookies[:number] %>
<br />
guess is <%= @guess %>
<br />
<%= @result %>

<br />

Guesses: <%= cookies[:counter] %> out of 5

<!-- <button type="button"><a href="page_name">Start Game</a></button> -->
